*, :after, :before { box-sizing: border-box; }

.travels{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 675px  repeat(2, 1fr);
    
    
    grid-template-areas: 
    "uvod"
    "polozky1"
    "polozky2"
}

.uvod { grid-area: uvod; }
.polozky1 { grid-area: polozky1; }
.polozky2 { grid-area: polozky2; }


.uvod{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 80px 125px 120px;
    grid-template-areas: 
    "picture"
    "header1"
    "text1"
    "buttons"
}

@media only screen and (min-width: 640px) {
    .travels{
        grid-template-rows: 645px  repeat(2, 1fr);
    }

    .uvod{
        grid-template-rows: 390px 80px 105px 70px;
        grid-template-areas: 
        "picture"
        "header1"
        "text1"
        "buttons"
    }
}

@media only screen and (min-width: 1100px) {
    .travels{
        grid-template-rows: 410px  repeat(2, 1fr);
    }

    .uvod{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 170px 105px 70px 65px;
    }
}

.picture { grid-area: picture; }
.header1 { grid-area: header1; }
.text1 { grid-area: text1; }
.buttons { grid-area: buttons; }



.polozky1{
    display: grid;
    margin-top: 60px;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 85px repeat(3, 95px);
    grid-template-areas:
    "header2"
    "text2"
    "prvni"
    "druha"
    "treti"
}

@media only screen and (min-width: 640px) {
    .polozky1{
        margin-top: 80px;
        grid-template-rows: 20px 60px 210px;
        grid-template-areas:
        "tri-polozky header2"   
    }
}

@media only screen and (min-width: 1100px) {
    .polozky1{
        grid-template-columns: 50% calc(50% - 60px);
        grid-template-areas:
        "header2"
        "text2"
        "polozka"
    }
}



.header2 { grid-area: header2; }
.text2 { grid-area: text2; }
.prvni { grid-area: prvni; }
.druha { grid-area: druha; }
.treti { grid-area: treti; }
.tri-polozky { grid-area: tri-polozky; }
.polozka { grid-area: polozka; }





body{
    padding: 0;
    margin: 0;
}

.travels{
    padding: 20px;
    background-color: #FAFAFA;
}

.picture{
    width: 350px;
    height: 290px;
    margin: 60px auto 0 auto;
}

.header1{
    font-family: sans-serif;
    font-size: 28px;
    margin: 40px 0 0 0;
    text-align: center;
}

.text1{
    font-family: sans-serif;
    font-size: 16px;
    color: #8B8B8B;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.button{
    text-align: center;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: block;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 0 auto 0 auto;
    border: none;
}

.-g{
    background-color: #8B8B8B;
    margin-top: 10px;
}

.-b{
    background-color: #407BFF;
    margin-top: 30px;
}


@media only screen and (min-width: 640px) {
    .picture{
        width: 400px;
        height: 330px;
    }

    .header1{
        margin-top: 30px;
    }

    .text1{
        width: 550px;
        margin: 40px auto 0 auto;
    }

    .buttons{
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }

    .-b{
        margin: 0 10px 0 0;
    }

    .-g{
        margin: 0 0 0 10px;
    }
}


@media only screen and (min-width: 1100px) {
    .picture{
        width: 425px;
        height: 350px;
        grid-column: 2;
    }

    .header1{
        margin-top: 130px;
        grid-row: 1;
        grid-column: 1;
    }

    .text1{
        width: 500px;
        grid-row: 2;
        grid-column: 1;

    }

    .buttons{
        grid-row: 3;
        grid-column: 1;
    }
}




.jedna{
    width: 40px;
    height: 40px;
}

.dve{
    width: 45px;
    height: 40px;
}

.header2{
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.text2{
    margin: 15px 20px 0 20px;

}


.tri-polozky{
    display: flex;
    justify-content: space-between;
}

.polozka{
    width: calc((100% - 40px) / 3);
}

.prvni{
    margin: 30px 0 0 0;
}

.druha{
    margin: 15px 0 0 0
}

